<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip.portable" />
    <package id="beyondcompare" />
    <package id="chocolatey" />
    <package id="dropbox" />
    <package id="evince" />
    <package id="git" packageParameters="/GitAndUnixToolsOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
    <package id="nodejs-lts" />
    <package id="postman" />
    <package id="python" />
    <package id="ripgrep" />
    <package id="sysinternals" />
    <package id="vim" />
    <package id="vlc" />
    <package id="which" />
</packages>
