<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- To replicate the baseline installations -->
  <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
  <package id="powershell-core" installArguments="/quiet ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1 ENABLE_PSREMOTING=1 REGISTER_MANIFEST=1" />
  <!-- Compare vim and vim-tux to determine which features are different between the builds -->
  <package id="vim-tux" packageParameters="/InstallPopUp /RestartExplorer /NoDefaultVimrc /NoDesktopShortcuts" />
  <!-- Main applications -->
  <package id="7zip" />
  <package id="adoptopenjdk11" />
  <package id="amazon-music" />
  <package id="autohotkey" />
  <package id="awscli" />
  <package id="beyondcompare" />
  <package id="bind-toolsonly" />
  <package id="bitwarden-cli" />
  <package id="bitwarden" />
  <package id="carnac" />
  <package id="cmake" />
  <package id="colortool" />
  <package id="curl" />
  <package id="devdocs-app" />
  <package id="diffutils" />
  <package id="directoryopus" ignoreChecksums="true" />
  <package id="dos2unix" />
  <package id="dotnetcore-sdk" />
  <package id="drawio" />
  <package id="editorconfig.core" />
  <package id="emacs" />
  <package id="etcher" />
  <package id="evernote" />
  <package id="fd" />
  <package id="ffmpeg" />
  <package id="findutils" />
  <package id="firefox" />
  <package id="gawk" />
  <package id="ghostscript" />
  <package id="gnupg" />
  <package id="gnuwin32-coreutils.install" />
  <package id="golang" />
  <package id="grep" />
  <package id="gzip" />
  <package id="hashcheck" />
  <package id="hub" />
  <package id="imagemagick" />
  <package id="jetbrainstoolbox" />
  <package id="jiracli" />
  <package id="jq" />
  <package id="kindle" />
  <package id="less" />
  <package id="megasync" />
  <package id="megatools" />
  <package id="microsoft-teams" />
  <package id="microsoft-windows-terminal" />
  <package id="miktex" />
  <package id="neovim" />
  <package id="netfx-4.8-devpack" />
  <package id="nodejs-lts" />
  <package id="nssm" />
  <package id="okular" />
  <package id="pandoc" />
  <package id="patch" />
  <package id="pencil" />
  <package id="plex" />
  <package id="python" />
  <package id="riot-web" />
  <package id="ripgrep" />
  <package id="rufus" />
  <package id="scribus" />
  <package id="sed" />
  <package id="serve" />
  <package id="shellcheck" />
  <package id="signal" packageParameters="/NoShortcut" />
  <package id="speedcrunch" />
  <package id="spotify" />
  <package id="strawberryperl" />
  <package id="sysinternals" />
  <package id="terraform" />
  <package id="texmaker" />
  <package id="tflint" />
  <package id="ubuntuhere" />
  <package id="ungoogled-chromium" />
  <!-- <package id="googlechrome" /> In case ungoogled-chromium doesn't work out. -->
  <package id="universal-ctags" />
  <package id="unzip" />
  <package id="vcredist-all" />
  <package id="vcxsrv" />
  <package id="vlc" />
  <package id="vscode" packageParameters="/NoDesktopIcon" />
  <package id="wavebox" />
  <package id="wget" />
  <package id="which" />
  <package id="wsl-archlinux" />
  <package id="wsl-debiangnulinux" />
  <package id="wsl-ubuntu-1804" />
  <package id="yq" />
  <package id="zerotier-one" />
  <package id="zip" />

  <!-- Considering...
      hack-fonts -> will be looping back on fonts later
      sqlectron, no Chocolatey package
      darktable -> wasn't available in AppGet, only scoop
      uget -> wasn't available in AppGet, only scoop
      fontforge -> font editor
      skyfonts -> font manager

      Fonts:
font-nerd-dejavusansmono
font-awesome-font
liberationfonts
firacode
hackfont
cascadiacode
croscorefonts-font
crosextrafonts-caladea-font
crosextrafonts-carlito-font
fira
firanf
firacodenf
robotofonts
cascadiamono
cascadiafonts
cascadiacodepl
cascadiamonopl
jetbrainsmono
hackfont-windows
inconsolata
noto
opensans
  -->
</packages>
