<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- To replicate the baseline installations -->
  <package id="git" packageParameters="/GitOnlyOnPath /NoAutoCrlf /WindowsTerminal /NoShellIntegration" />
  <package id="powershell-core" installArguments="/quiet ADD_EXPLORER_CONTEXT_MENU_OPENPOWERSHELL=1 ENABLE_PSREMOTING=1 REGISTER_MANIFEST=1" />
  <!-- Compare vim and vim-tux to determine which features are different between the builds -->
  <package id="vim-tux" packageParameters="/InstallPopUp /RestartExplorer /NoDefaultVimrc /NoDesktopShortcuts" />
  <!-- Main applications -->
  <package id="7zip" />
  <package id="adoptopenjdk" />
  <package id="autohotkey" />
  <package id="awscli" />
  <package id="beyondcompare" />
  <package id="bitwarden-cli" />
  <package id="bitwarden" />
  <package id="bleachbit" />
  <package id="carnac" />
  <package id="choco-cleaner" />
  <package id="correttojdk" />
  <package id="directoryopus" />
  <package id="dos2unix" />
  <package id="dotnet" />
  <package id="dotnetfx" />
  <package id="dotnetcore-sdk" />
  <package id="drawio" />
  <package id="editorconfig.core" />
  <package id="element-desktop" />
  <package id="emacs" />
  <package id="evernote" />
  <package id="fd" />
  <package id="ferdi" />
  <package id="ffmpeg" />
  <package id="firefox" />
  <package id="gnupg" />
  <package id="golang" />
  <package id="jetbrainstoolbox" />
  <package id="kindle" />
  <package id="libreoffice-still" />
  <package id="microsoft-windows-terminal" />
  <package id="neovim" />
  <package id="neovide" />
  <package id="nodejs-lts" />
  <package id="okular" />
  <package id="pencil" />
  <package id="plex" />
  <package id="python" />
  <package id="ripgrep" />
  <package id="scribus" />
  <package id="shellcheck" />
  <package id="signal" packageParameters="/NoShortcut" />
  <package id="speedcrunch" />
  <package id="spotify" />
  <package id="sysinternals" />
  <package id="terraform" />
  <package id="tflint" />
  <package id="ubuntuhere" />
  <!-- <package id="ungoogled-chromium" /> Still needs more testing before I can switch to it. -->
  <package id="googlechrome" />
  <package id="universal-ctags" />
  <package id="vcredist-all" />
  <!--<package id="vcxsrv" /> Switch to using the native Windows x11 support -->
  <package id="vlc" />
  <package id="vscode" packageParameters="/NoDesktopIcon" />
  <package id="which" />
  <package id="windirstat" />
  <package id="wsl-debiangnulinux" />
  <package id="wsl-ubuntu-2004" />
  <package id="zerotier-one" />
  <!-- Fonts -->
  <package id="hackfont" />
  <package id="nerdfont-hack" />
  <package id="croscorefonts-font" />
  <package id="crosextrafonts-caladeo-font" />
  <package id="crosextrafonts-carlito-font" />
  <package id="cascadiafonts" />
  <package id="cascadia-code-nerd-font" />
  <package id="jetbrainsmono" />
  <package id="noto" />


  <!-- Considering...
      hack-fonts -> will be looping back on fonts later
      sqlectron, no Chocolatey package
      darktable ->
      uget ->
      fontforge -> font editor
      skyfonts -> font manager

      Fonts:
font-nerd-dejavusansmono
font-awesome-font
liberationfonts
firacode
hackfont
cascadiacode
croscorefonts-font
crosextrafonts-caladea-font
crosextrafonts-carlito-font
fira
firanf
firacodenf
robotofonts
cascadiamono
cascadiafonts
cascadiacodepl
cascadiamonopl
jetbrainsmono
hackfont-windows
inconsolata
noto
opensans
  -->
</packages>
