<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="docker-desktop" />
  <package id="insomnia-rest-api-client" />
  <package id="rust-ms" />
  <package id="visualstudio2019professional" packageParameters="--allWorkloads --includeRecommended --includeOptional --passive --locale en-US" />
</packages>
